* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (min-width: 992px) {
    body {
      font-size: 16px;
      width: 80%;
      margin: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
      font-size: 14px;
      width: 90%;
      margin: auto;
    }
}

@media only screen and (max-width: 767px) {
    body {
      font-size: 12px;
      width: 100%;
      margin: 0;
    }
}

body {
    background: #e8eceb; 
    color: #2d3e4e;
}

.index_header {
    position: fixed, static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25em 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 1.563em;
    color: #e09e50;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}
.navbar {
    position: static;
}
.navbar a {
    font-size: 1.1250em;
    color: #2d3e4e;
    text-decoration: none;
    font-weight: 700;
    margin-left: 2.1875em;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #e09e50;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.375em 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 2px;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 1.875em;
}

.home-content h3 span {
    color: #e09e50;   
}

.home-content h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin-top: .25em;
    margin-bottom: .25em;
    
}

.home-content p {
    font-size: 1em;
}

.home-img img {
    max-width: 28em;
    margin-right: -1.25em;
    border-radius: 10%;
    border: 5px solid #8cbdb9;
}

.social-media a {
   display: inline-flex;
   justify-content: center;
   align-items: center;
    width: 2.5em;
    height: 2.5em;
    background: transparent;
    border: 0.125em solid #e09e50;
    border-radius: 50%;
    font-size: 1.25em;
    color: #8cbdb9;
    text-decoration: none;
    margin: 1.875em 0.938em 1.875em 0; 
    transition: .5s ease;
}

.social-media a:hover {
    background: #e09e50;
    color: #1f242d;
    box-shadow: 0 0 20px #e09e50;
}

footer {
    text-align: center;
    padding: .4em;
}


.home_projects {
    padding: 20px;
    text-align: center;
}

.projects-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 4em;
    padding-bottom: 17em;
}

.projects-content > div {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 900px;
    box-sizing: border-box;
    text-align: left;
    line-height: 2.5em;
    text-align: center;
}

.projects-content h2 {
    color: #333;
}

.projects-content p {
    color: #555;
}

.projects-content a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
}

.projects-content a:hover {
    text-decoration: underline;
}

.first_project img {
    width: 800px;
}

.second_project img {
    width: 800px;
}
.third_project img {
    width: 600px;
}

.home_interests {
   text-align: center;
   line-height: 3em;
    padding: 3em;
}

.family_time img {
    width: 400px;
    height: 400px;
}

.travelling img {
    width: 400px;
    height: 400px;;
}

.pets img {
    width: 250px;
    height: 250px;
}
.container_form {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
  }
  .container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  .form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
  }
  .form-group input:focus, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
  }
  .form-group input:focus, .form-group textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  .form-group textarea {
    resize: vertical;
    height: 100px;
  }
  .form-group button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  .form-group button:hover {
    background-color: #0056b3;
  }